# Dependencies
/node_modules
/.pnp
.pnp.js

# Build
/.next/
/out/

# Env — NUNCA subas esto a Git
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
